/*
Priority
Universal < tag < class < id < inline styling < !important
*/

/* tag name */
h1{
    color: black !important;
    text-align: center;
    /* root element size, 1rem = 16px */
    font-size: 2rem;
}

/* universal [*] */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* id [#id_name] */
#zuitt-motto{
    letter-spacing: 5px;
}

/* class [.class_name] */
.offering-item{
    text-transform: uppercase;
}

/* attribute selector  */
/* tag_name[attribute] */
input[required]{
    border-width: 2px;
    border-style: solid;
    border-color: #a39171;

    height: 2em;
}

/* adjacent sibling selector */
h4 + img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* descendant selector */
#bootcamp-learning-list li{
    color: black;
}

/* general sibling selector */
/* selector ~ selector */
h2 ~ a{
    text-decoration: none;
}

/* child selector */
/* selector > selector */
form > label{
    color: black;
}

/* -------------------------- */
body{
    background-color: #dcc9b6;
}

html{
    scroll-behavior: smooth;
}

nav{
    padding: 10px;
    background-color: #a39171;
}

a:hover, button:hover{
    font-weight: bolder;
}

div{
    display: inline-block;
    float: right;
}

/* landing section */
section{
    /* viewport height, 100vh = 1 whole screen size  */
    height: 100vh;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

ol{
    list-style-type: none;
}

/* register section */
form{
    text-align: center;
    height: 200px;
    width: 25vw;
    border: 2px solid #a39171;
    border-radius: 10px;
    position: relative;
    left: 37.25%;
}

button{
    padding: 10px;
    background-color: #abc4ab;
    border: 2px solid #a39171;
    border-radius: 10px;
}
