#external-p{
    color: #00a6fb;
}

*{
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
}

h1{
    font-size: 2rem;
}

#intro-details{
    text-transform: uppercase;
}

.languages{
    background-color: #006494;
}

.used li{
    border: 2px solid #006494;
}

img + ul{
    list-style-type: none;
}

#otherThingSection img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h4 ~ p{
    text-align: center;
}

ul > li{
    letter-spacing: 5px;
}